<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">A peek at the services we offer.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-birthday-cake fa-stack-1x fa-inverse"></i>
                            </span>
                <h4 class="service-heading">Cakes</h4>
                <p class="text-muted">We offer a wide selection of cakes, muffins, etc. Please have a look at our portfolio.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Designer Cakes</h4>
                <p class="text-muted">We offer designer cakes made to your specification and needs. Reach out! Let's make your dream cake!</p>
            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Delivery</h4>
                <p class="text-muted">Cake delivery straight to your door across Malta. Why stress?</p>
            </div>
        </div>
    </div>
</section>