 <!-- Specialities Modals -->
 {% for post in site.categories.Specialities %}
    <div class="specialities-modal modal fade" id="specialitiesModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/posts/Specialities/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Category:
                                    <strong><a href="#">{{ post.category }}</a>
                                    </strong>
                                </li>
                                {% if post.availableFrom or post.availableTo %}
                                <li>Accepting Orders:
                                    <strong>
                                        {% if post.availableFrom %}
                                        From <a href="#">{{ post.availableFrom }}</a> 
                                        {% endif %}
                                        {% if post.availableTo %}
                                        Till <a href="#">{{ post.availableTo }}</a>
                                        {% endif %}
                                    </strong>
                                </li>
                                {% endif %}
                                {% if post.price or post.price contains "tbd" %}
                                <li>Price:
                                        <strong><a href="#">{{ post.price }}</a>
                                        </strong>
                                </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
