<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include services.html %}
    {% include seasonal_grid.html %}
    {% include specialities_grid.html %}
    {% include healthy_grid.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include testimonials.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include seasonal_modals.html %}
    {% include specialities_modals.html %}
    {% include healthy_modals.html %}
    {% include portfolio_modals.html %}
    {% include ticker.html %}
    {% include js.html %}

    </body>
</html>